{
  "openapi": "3.0.1",
  "info": {
    "title": "Ramp API",
    "version": "1.0.0",
    "description": "API for managing accounting connections and webhooks in Ramp."
  },
  "servers": [
    {
      "url": "https://api.ramp.com/v1"
    }
  ],
  "paths": {
    "/developer/v1/accounting/all-connections": {
      "get": {
        "summary": "Retrieve all accounting connections",
        "operationId": "getAllConnections",
        "tags": ["Accounting Connections"],
        "responses": {
          "200": {
            "description": "A list of accounting connections",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the connection"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the accounting connection"
                      },
                      "status": {
                        "type": "string",
                        "description": "Current status of the connection"
                      },
                      "lastSynced": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp of the last synchronization"
                      }
                    },
                    "required": ["id", "name", "status"]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access due to missing or invalid API token"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/developer/v1/accounting/field-options": {
      "post": {
        "summary": "Create new field options for accounting",
        "operationId": "createFieldOptions",
        "tags": ["Accounting Field Options"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fieldId": {
                    "type": "string",
                    "description": "ID of the field to which options are being added"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Option value"
                    },
                    "description": "List of options to be added to the field"
                  }
                },
                "required": ["fieldId", "options"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field options successfully created"
          },
          "400": {
            "description": "Bad request due to invalid input"
          },
          "401": {
            "description": "Unauthorized access due to missing or invalid API token"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/developer/v1/webhooks": {
      "get": {
        "summary": "Retrieve all webhooks",
        "operationId": "getWebhooks",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "A list of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the webhook"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL to which the webhook sends notifications"
                      },
                      "status": {
                        "type": "string",
                        "description": "Current status of the webhook"
                      }
                    },
                    "required": ["id", "url", "status"]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access due to missing or invalid API token"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create a new webhook",
        "operationId": "createWebhook",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL to which the webhook will send notifications"
                  },
                  "event": {
                    "type": "string",
                    "description": "The event that will trigger the webhook"
                  }
                },
                "required": ["url", "event"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook successfully created"
          },
          "400": {
            "description": "Bad request due to invalid input"
          },
          "401": {
            "description": "Unauthorized access due to missing or invalid API token"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/developer/v1/webhooks/{webhook_id}/verify": {
      "post": {
        "summary": "Verify a webhook endpoint",
        "operationId": "verifyWebhook",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "description": "The ID of the webhook to verify",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook endpoint successfully verified"
          },
          "400": {
            "description": "Bad request due to invalid input"
          },
          "401": {
            "description": "Unauthorized access due to missing or invalid API token"
          },
          "404": {
            "description": "Webhook not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
